#Menu {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px gray, -2px 2px 2px gray;
}

.Menu__titlebar {
    background-color: rgb(63, 63, 63);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.Menu__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto Mono";
}

.Menu__title > h1 {
    font-size: 1.2rem;
}

.Menu__title span {
    font-size: 0.8rem;
    font-weight: normal;
}

.Menu__title > * {
    padding: 0 5px;
}

.Menu__title img {
    width: 32px;
    height: 32px;
    display: block;
}

.Menu__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Menu__control {
    cursor: pointer;
    padding: 5px;
    font-size: 1.2rem;
}

.Menu__content {
    width: 450px;
    height: 400px;
    overflow-y: scroll;
}

#Menu.collapsed .Menu__content,
#Menu.collapsed .Menu__title {
    display: none;
}
