/* Set default dimensions of DateSlider */
.DateSlider {
    width: 200px;
}

/* Remove default lines/borders provided by vis-timeline */
.vis-timeline,
.vis-panel.vis-center {
    border: none;
}
.vis-time-axis.vis-background {
    visibility: hidden;
}

/* Format the timeline the way I want it */
.vis-time-axis.vis-foreground {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 2px solid white;
}
.vis-day1,
.DateSlider__month .vis-january {
    border-left: 1px solid white;
}

.vis-text.vis-minor {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    font-size: 0.8em;
}
.vis-text.vis-minor:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.vis-text.vis-major {
    color: white;
    font-size: 0.8em;
    padding-left: 10px;
}

/* Place a tick mark at every date/month/year */
.vis-text.vis-minor::before {
    content: "";
    display: block;
    background-color: white;
    width: 1px;
    height: 5px;
    margin-bottom: 2px;
}

/* Make the current-time marker look like a fancy dot instead of a line */
/* Note: vis-content section needs to be visible, but not too big for   */
/* this to work. */
.vis-content {
    height: 10px;
}

.vis-current-time {
    background-color: rgba(0, 0, 0, 0);
}

.vis-current-time::before {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: -5px;
    width: 10px;
    height: 10px;
    background-color: white;
}

.vis-current-time::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}
