.Ruler {
    border: 1px solid white;
    border-top: 2px solid white;
    border-bottom: none;
    color: white;
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: all-scroll;
    user-select: none;

    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: 0;
    left: 300px;
    /* width: 1200px; */
    height: 45px;
}

.Ruler__tick-container {
    display: flex;
    justify-content: space-around;
    color: inherit;
    height: 50%;
}

.Ruler__title-container {
    color: inherit;
    height: 50%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.Ruler__tick {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    /* flex-grow: 1; */
    width: 35px;
}

.Ruler__tick:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.Ruler__tick-mark {
    background-color: white;
    width: 1px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.Ruler__circle,
.Ruler__big-circle {
    display: none;
}

.Ruler__selected .Ruler__circle {
    display: block;
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
}

.Ruler__selected .Ruler__big-circle {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
}
