.Coordinates {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 100px;
    height: 25px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
}
