.SelectedDatasetsButtonPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 2px 5px lightgray;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: 14px;
}

.SelectedDatasetsButtonPanel__button {
    background-color: rgb(2, 136, 209);
    color: white;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    font-family: Roboto;
    border-radius: 2px;
    font-size: 14px;
}
