* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Map {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    z-index: -1;
}

#Menu {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: lightgray;
    border: 2px solid black;
}

.Menu__titlebar {
    background-color: rgb(90, 90, 182);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid black;
}

.Menu__content {
    width: 500px;
    height: 400px;
}

#Menu.collapsed .Menu__content,
#Menu.collapsed .Menu__title {
    display: none;
}

#DatePicker {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: darkslategray;
    color: white;
}

.LayerComponent {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid black;
}

.LayerComponent > * {
    margin-left: 5px;
}

.LayerComponent input[type="range"] {
    width: 50px;
}
