* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Map {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    z-index: -1;
}

#Menu {
    position: absolute;
    width: 500px;
    height: 400px;
    left: 10px;
    top: 10px;
    background-color: lightgray;
    border: 2px solid black;
}

#Menu > * {
    padding: 5px;
    border-bottom: 1px solid black;
}

.Menu__title {
    background-color: rgb(90, 90, 182);
    color: white;
}

#DatePicker {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: darkslategray;
    color: white;
}

.LayerComponent {
    display: flex;
}

.LayerComponent > * {
    margin-left: 5px;
}

.LayerComponent input[type="range"] {
    width: 50px;
}
