.MenuFrame {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px gray, -2px 2px 2px gray;
}

.MenuFrame__titlebar {
    background-color: rgb(63, 63, 63);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.MenuFrame__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto Mono";
}

.MenuFrame__title > h1 {
    font-size: 1.2rem;
}

.MenuFrame__title span {
    font-size: 0.8rem;
    font-weight: normal;
}

.MenuFrame__title > * {
    padding: 0 5px;
}

.MenuFrame__title img {
    width: 32px;
    height: 32px;
    display: block;
}

.MenuFrame__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.MenuFrame__controls * {
    color: white;
    font-size: 1.2rem;
}

.MenuFrame__content {
    width: 450px;
    /* height: 400px; */
}

.MenuFrame.collapsed .MenuFrame__content,
.MenuFrame.collapsed .MenuFrame__title {
    display: none;
}
